.section--primary
  .container
    %h1= title('Work packages')

%section#content{ tabindex: "0" }
  .container
    %ul.list--block
      - @work_packages.each do |work_package|
        %li
          .card
            .card__details
              -# ID of the work package, and link
              %h2= link_to(work_package.graph_id, work_package_path(work_package.graph_id))
              -# Date of the oldest business item
              - if work_package.oldest_business_item_date
                %p= "#{l(work_package.oldest_business_item_date, format: :default)}"
              -# Procedure name
              - if work_package.procedure&.name
                %p= "#{work_package.procedure.name} procedure"
