-# Image
-# - if Pugin::Feature::Bandiera.show_list_images?
-#   %figure
-#     %a{href: "/people/#{member.graph_id}", tabindex: "-1"}
-#       %picture
-#       - if member.image_id != "placeholder"
-#         %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{member.image_id}.jpeg?crop=CU_1:1&width=186&quality=80", alt: "#{member.display_name}" }
-#       - else
-#         %img{ src: "#{Pugin::ASSET_LOCATION_URL}/#{Pugin::ASSET_VERSION}/images/placeholder_members_image.png", alt: "" }

-# Member details
.list--details
  %h2
    %a{href: "/people/#{member.graph_id}"}= member.display_name

  - if committee_role_title
    %p= committee_role_title

  - else
    - if member.ex_officio?
      %p= t('.ex_officio_committee_member').capitalize
    - elsif member.alternate?
      %p= t('.alternate_committee_member').capitalize
    - elsif member.lay_member?
      %p= t('.lay_committee_member').capitalize
    - else
      %p= t('.committee_member').capitalize

  - subheading = "Former MP" if member.former_mp?
  - subheading = "Former Member of the House of Lords" if member.former_lord?
  - subheading = "#{member.current_party_membership.try(&:party).try(&:name)} MP for #{member.current_seat_incumbency.constituency.name}" if member.current_mp?
  - subheading = "#{member.current_party_membership.try(&:party).try(&:name)} - #{member.statuses[:house_membership_status].join(' and ')}" if member.current_lord?

  %p= subheading
